:root {
  --text-color: #5e5d5d;
  --bg-main-color: salmon;
}
html {
  font-size: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  border: none;
  box-sizing: border-box;
  list-style-type: none;
  box-shadow: none;
  color: var(--text-color);
}

h1 {
  text-align: center;
}

form {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

form p {
  padding: 0.5em;
  background-color: var(--bg-main-color);
  margin: 0.5em;
}

form input {
  border: 1px solid var(--text-color);
  padding: 0.2em;
  border-radius: 0.2em;
}

form label {
  border: 1px solid var(--text-color);
}
.test {
  background-color: blue;
}
